.frame{
  position: relative;
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	background-color: white;
}
.twentyfour{
  float: left;
  /*width: 100px;*/
  height: 100%;
}
.apps0{
  float: left;
  width: 896px;
  height: 48px;
  border: 1px solid white;
  background-color: #ea3876;
}
.blankapp{
  float: left;
  width: 896px;
  height: 48px;
  border: 1px solid white;
  background-color: #f2e8eb;
}
.hour{
  float: left;
  width: 100px;
  height: 48px;
  border: 1px solid white;
  background-color: #f96892;
  text-align: center;
}