.calendar{
	position: relative;
	margin-top: auto;
	width: 1450px;
	height: 754px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
body{
	background-color: #c5b8de;
	font-family: 'Raleway', sans-serif;
}
input {
	resize: horizontal;
	
}
textarea{
	resize: horizontal;
	width: 90%;
}
img.n{
	width: 40px;
	height: 40px;
}
img.n:hover{
	/*opacity: 0.3;*/
	transition-duration: 0.2s;
}
/* Nav bar */
ul {
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #896fd8;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
	opacity: 0.9;
}
li{
	float: right;
}
li b1{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
li a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
li a:hover{
	background-color: #a5304d;
	transition-duration: 0.3s;
}
li.l{
	float: left;
}
li.l a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 0px 16px;
	font-size: 39px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #969696;
	transition-duration: 0.2s;
}

/* Element */
.today{
	float: left;
	width: 22px;
	height: 20px;
	background-color: #90e693;
	/* border: 2px solid red; */
	margin: -19px 91px;
	border-radius: 40px;
}
.day{
	float: left;
	width: 110px;
	height: 110px;
	background-color: #a5304d;
	margin: 1px;
}
.blank{
  float: left;
  width: 205px;
  height: 125px;
  margin: 1px;

}
.month{
	width: 100%;
	height: 55px;
	font-size: 50px;
	text-align: left;
	color: #896fd8;
}
.next{
	float: right;
	width: 40px;
	height: 40px;
}
.prev{
	float: right;
	width: 40px;
	height: 40px;
}
.week{
	width: 100%;
	color: white;
}
.dayname{
	float: left;
	width: 205px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 1px;
	color: #000000;
}
.apps{
  position: absolute;
	text-decoration: none;
	background-color: #f44183;
	color: black;
}
.apps:hover{
	color: white;
	background-color: #fcf7d0;
	transition-duration: 0.2s;
}
.hidden{
	display: none;
}
/* Modal box */
.modal{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #bab6b6;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-header {
	font-size: 30px;
	text-align: center;
  	padding: 2px;
    background-color: #ff54a3;
    color: white;
}
.modal-header-reg {
	font-size: 30px;
	text-align: center;
  	padding: 2px;
    background-color: #ff54a3;
    color: white;
}
.modal-body {
	text-align: center;
	padding: 20px 16px;
}

/* button */
.btnlogin{
	background-color: white;
    color: black;
    border: 2px solid #e0266f;
}
.btnlogin:hover{
	background-color: #e0266f;
	color: white;
	transition-duration: 0.2s;
}
.btnreg{
	background-color: white;
    color: black;
    border: 2px solid #e0266f;
}
.btnreg:hover{
	background-color: #e0266f;
	color: white;
	transition-duration: 0.2s;
}
/* floating button */

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #d3a411;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #3c80f6;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

.nd4{
  background: #ba68c8;
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}

.letter{
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}