.frame{
	position: relative;
	width: 854px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.dayinweek{
  float: left;
  width: 120px;
  height: 573px;
  border: 1px solid black;
}
.daynameinweek{
  float: left;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 1px;
  color: #f44192;
}