.calendar{
	position: relative;
}
div.date{
	width: 200px;
	float: left;
	margin: 1px;
}
.blankday{
	background: #D8D8D8;
}
div.date{
	height: 100px;
    text-allign: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #000000;
	width: 110px;
    float: left;
    margin: 1px;
}
.today{
	background : #58FA82;

}
.days{
	width: 200px;
	float: left;
	margin: 1px;
	background :#9F81F7;
    font-family: 'Raleway', sans-serif; 
    height: 25px;
}
div.dateC{
	width: 205px;
	float: left;
	margin: 1px;
	background: #f2f2f2f5;
	height: 125px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	text-align: center;
}
div.dateC:hover{
	background : #c5b8de;
}
.nowAday{
    height: 30px;
	margin: auto auto;
	font-size: 18px;;
    padding: 20px;
    height: 30px;

    filter: alpha(opacity=60); 
}
div.blockCalendar {
	position: relative;
   	width: 1500px;
   	margin: auto auto;
    text-align:center;
}
.textblock{
	background: #F2F2F2;
	position: absolute;
	width: 276px;
	height: 735px;
	right :8px;
	top :149px;
}
.calendarminiblock{
	background: #ffffff;
	position: absolute;
	width: 370px;
	height: 730px;
	left: 8px;
	top: 212px;
}
}
.textMiniCalendar{
	background: #9F81F7;
	width: 276px;
	position: relative;
	height: 25px;
	font-family: 'Raleway', sans-serif; 
	text-align: center;
}
.description{
	background-color: #ffffff;
	border: 1px solid black;
	color: black;
	width: 310px;
	height: 100px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	border-radius: 5px;
}
.title{
	border: 1px solid #7965af;
	border-radius: 5px;
	width: 320px;
	height: 50px;
	font-size: 16px;
	font-family:'Raleway', sans-serif;
	text-align: left;
}
.titleBox{
	width: 370px;
    position: relative;
    height: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #896fd8;
}
.delete{
	background-color: #fCAF50;
	border: none;
	color: white;
	padding: 5px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	border-radius: 5px;
	float: right;
}
.delete:hover{
	background-color: #b49bff;
}
.fontEvent{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.done{
	background-color: #fCAF50;
    border: none;
	color: white;
	margin: 0 30%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.button_title{
	background-color: #98c1ff;
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 8px;
}