.calendar{
	position: relative;
}
div.date{
	width: 266px;
	float: left;
	margin: 1px;
}
.blankday{
	background: #D8D8D8;
}
div.date{
	height: 140px;
	text-align:center;
	font-family: 'Raleway', sans-serif; 
	font-weight:bold;
	color:#000000;
}
.today{
	background: #58FA82;

}
.days{
	width: 266px;
	float: left;
	margin: 1px;
	background :#9F81F7;
    font-family: 'Raleway', sans-serif; 
    height: 25px;

}
div.dateC{
	width: 205px;
	float: left;
	margin: 1px;
	background: #f2f2f2f5;
	height: 125px;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	text-align: center;
}
div.dateC:hover{
	background : #c5b8de;
}
.nowAday{
    height: 30px;
    margin: auto auto;
    font-size: 18px;
    background: #FBF8EF;
    padding: 20px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    filter: alpha(opacity=60);
}
div.blockCalendar {
	position: relative;
   	margin: 5px;
   	margin: auto;
    text-align:center;
    vertical-align: middle;
    width: 1877px;
    height: 880px;

}
.errorlogin{
    position: absolute;
    top :18px;
    right: 820px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #00001a;
    font-weight: bold;
    float: left;
}
