.manuN{
    background: #ffffff;
    padding: 20px;
    height: 89px;
    filter: alpha(opacity=60);
 }
	.tabText{
		font-family: 'Raleway', sans-serif;
    	font-size: 18px;
    	color: #00001a;
    	font-weight: bold;
        float: left;
	}
.singup{
	position: relative;
    height: 720px;
    float: left;
    margin: 2px;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: black;
    margin: auto;
}
.button {
  	background-color: #8f76d9;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	font-family: 'Raleway', sans-serif;
  	border-radius: 5px;
  	font-weight: 126px;
}
.singinButton{
    background-color: #fCAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}

button.singinButton {}
.inputSingup{
	background-color: #ccccff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 420px;
    height: 10px;

}
.inputSingin{
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 15px 32px;
    display: inline-block;
    font-size: 14px;
    width: 220px;
    height: 3px;
}
#panel,#flip{
    padding:5px;
    text-align:center;
    background-color:#F3E2A9;
    font-family: 'Raleway', sans-serif;
}
#panel{
    padding:50px;
    display:none;
}
.crecateBox{
    height: 30px
}
.successRegister{
    text-align: center;
    border: 3px solid #E4E6E6;
    background: #E6E6E6;
    font-family: 'Raleway', sans-serif; 
}